.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.projects-heading {
    text-align: center;
    margin-bottom: 50px;
}

.project {
    width: 1000px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #18D265;
    border-radius: 10px;
    padding: 70px 0px;
}

.left {
    width: 40%;
    display: grid;
    place-items: center;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.projects a:hover {
    background-color: #18d26629;
}

.techused {
    color: #18D265;
}

.project .left img {
    width: 300px;
    border: 1px solid #18D265;
    border-radius: 10px;
}

.project .right p {
    text-align: justify;
    margin-right: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .project {
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .project h1 {
        text-align: center;
    }

    .project .right p {
        text-align: center;
    }

    .techused {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 767px) {
    .project {
        width: 70vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .project .left img {
        display: none;
    }
}