.hero {
    background-image: url(../../assets/background.jpeg);
}

.content {
    background-color: rgba(36, 40, 44, 0.95);
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.hero h1 {
    color: #18D265;
    font-size: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero .content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
}


@media only screen and (max-width: 767px) {
    .hero .content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .hero .content h1 {
        font-size: 40px;
    }
}