footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.detail-name {
    color: #18D265;
}

.social-links ul {
    display: flex;
    gap: 25px;
}